$navbar-default-bg: #b42738;
$navbar-default-link-color: #ffffff;

@import "bootstrap-sprockets";
@import "bootstrap";

footer {
  text-align: center;
  font-size: 8px;
}

#pins {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 214px;
}

.box img {
  width: 100%;
}